.env
.venv
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.DS_Store
*.nc
fantasy-points-projection/notes_files
*.png
*.rds
*.xgb
.env.local
_extensions
fantasy-points-projection/expected_points/rec-tds-posterior/rec-tds-posterior.parquet
.Rproj.user
.Rproj
fantasy-points-projection/expected_points/rec-tds-posterior/

*.RData

fantasy-points-projection/expected_points/Formal-Writeup_cache/html/

fantasy-points-projection/expected_points/Formal-Writeup_files/libs/bootstrap/

fantasy-points-projection/expected_points/Formal-Writeup_files/libs/quarto-html/
