.env
.venv
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.DS_Store
fantasy-points-projection/notes_files
*.png
*.rds
*.xgb
.env.local
_extensions
/Users/josh/Documents/football-project/fantasy-points-projection/expected_points/rec-tds-posterior
.Rproj.user
.Rproj
fantasy-points-projection/expected_points/rec-tds-posterior/

*.Rproj
